.DS_Store
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# Large KML files for shoreline delineation
shorelines/mainlands.kml
shorelines/big_islands.kml
shorelines/small_islands.kml

# sample h5 files
sample_data/north_carolina_ATL03_20191024144104_04230506_005_01.h5


# tbd demos
private/

# vs code
.vs_code/

demos/
